.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
  color: var(--white-color);
}

.title {
  font-family: var(--font-log);
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 2em;
}

.start-btn {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  background-color: var(--btn-bg-color);
  padding: 0.5em 1em;
  margin: 2em 0.5em;
  transition: 250ms ease-in-out;
}

.start-btn:hover,
.start-btn:focus {
  cursor: pointer;
  background-color: var(--btn-hover-color);
}

.start-btn:hover,
.start-btn:focus {
  transform: scale(1.2);
}
