.config-page-container {
  color: var(--white-color);
  font-family: var(--font-paragraph);
  padding-bottom: 4em;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: var(--font-log);
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 2em;
}

.config {
  width: 60%;
  margin: 3em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .player {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-right: 2em;

    span {
      color: coral;
      text-shadow: 1px 1px 5px black;
    }
  }

  .instructions {
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em 2em;
    border-radius: 10px;

    h4 {
      align-self: center;
      border-bottom: 1px solid var(--white-color);
      padding-bottom: 0.2em;
      margin-bottom: 0.5em;
    }

    p {
      font-size: 0.9em;
    }
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.start-btn,
.confirm-btn {
  margin-top: 2em;
  margin-bottom: 2em;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  background-color: var(--btn-bg-color);
  padding: 0.5em 1em;
}

.start-btn {
  font-size: 2em;
  transition: 250ms ease-in-out;
}

.start-btn:hover,
.start-btn:focus,
.confirm-btn:hover,
.confirm-btn:focus {
  cursor: pointer;
  background-color: var(--btn-hover-color);
}

.start-btn:hover,
.start-btn:focus {
  transform: scale(1.2);
}

.lists-container {
  display: flex;
  flex-direction: row-reverse;
}

.container-1 {
  margin-left: 2em;
  display: inline;
  justify-content: space-between;
}

.list-1,
.list-2 {
  position: relative;
  height: 100%;
}

.ships {
  height: 150px;

  h3 {
    font-family: var(--font-log);
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid var(--white-color);
    margin-bottom: 1.5em;

    span {
      font-family: var(--font-log);
    }
  }
}

app-ship {
  position: absolute;
}

.row {
  display: inline-block;
}

.cell {
  border: 1px solid var(--board-line-color);
  background-color: rgba(0, 162, 255, 0.3);
}

.cell:hover {
  background-color: rgb(7, 120, 186);
}

.cell-large {
  width: 30px;
  height: 30px;
}

.cell-medium {
  width: 25px;
  height: 25px;
}

.cell-small {
  width: 20px;
  height: 20px;
}
