.config-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  padding-bottom: 4em;

  h2 {
    font-family: var(--font-log);
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 2em 0 1em 0;
  }
}

.lists-container {
  display: flex;
  flex-direction: row-reverse;
}

.container-1 {
  margin-left: 2em;
  display: inline;
  justify-content: space-between;
}

.droplist {
  position: relative;
  height: 100%;
}

.ships {
  height: 150px;
  margin: 40px;

  h3 {
    font-family: var(--font-log);
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid var(--white-color);  
    margin-bottom: 5em;
  }
}

.cdk-drag-placeholder {
  display: none;
}

.ship-box {
  background-color: coral;
  position: absolute;
  top: 0;
  height: 30px;
  z-index: 100;
}

.ship-box-cell {
  border: 1px dotted;
  width: 30px;
  height: 30px;
  display: inline-block;
}

app-ship {
  position: absolute;
}

.item-list {
  position: relative;
}

.item-box {
  cursor: pointer;
}

.row {
  display: inline-block;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid var(--board-line-color);
  background-color: rgba(0, 162, 255, 0.3);
}

.cell:hover {
  background-color: rgb(0, 162, 255);
}

.bt-cell {
  width: 30px;
  height: 100%;
}

.ship-box {
  height: 30px;
  border: 1px solid var(--board-line-color);
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

// Buttons
.flip-btn {
  margin-left: 15em;
}

.start-btn {
  position: absolute;
  margin-top: -10em;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  background-color: var(--btn-bg-color);
  padding: 0.5em 1em;
}

.start-btn:hover,
.start-btn:focus {
  cursor: pointer;
  background-color: var(--btn-hover-color);
}
