.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    padding-bottom: 4em;

    h2 {
        font-family: var(--font-log);
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 2em 0 1em 0;
    }
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


// --- start DIFFERENT BOARD SIZES ---//
.board-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    .board-cell {
        background-color: var(--board-bg-color);
        border: 1px solid var(--board-line-color);
        box-sizing: border-box;
    }
}
// 2 players
.board-container-10 {
    width: 500px;
    height: 500px;
   
    .board-cell {
        width: calc(500px / 10);
        height: calc(500px / 10);
    }
}
// 3 players
.board-container-15 {
    width: 500px;
    height: 500px;

    .board-cell {
        width: calc(500px / 15);
        height: calc(500px / 15);
    }
}
// 4 players
.board-container-20 {
    width: 550px;
    height: 550px;

    .board-cell {
        width: calc(550px / 20);
        height: calc(550px / 20);
    }
}
// 5 players
.board-container-25 {
    width: 600px;
    height: 600px;

    .board-cell {
        width: calc(600px / 25);
        height: calc(600px / 25);
    }
}
// 6 players
.board-container-30 {
    width: 700px;
    height: 700px;

    .board-cell {
        width: calc(700px / 30);
        height: calc(700px / 30);
    }
}
// --- end DIFFERENT BOARD SIZES ---//


.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3em;

    .flip {
        transform: rotate(90deg);
    }    
}


.ships-container {
    display: flex;
    flex-wrap: wrap;
    width: 15em;
    height: 15em;

    .ship {
        background-color: rgb(172, 166, 166);
        border-radius: 3em;
        margin: 1em;
        transform:translateZ(0);
        position:relative; z-index:0;
        will-change: transform;
    }

    .ship_5_1 {
        width: calc(25px * 5);
        height: 25px;
    }

    .ship_4_1 {
        width: calc(25px * 4);
        height: 25px;
    }

    .ship_3_1, .ship_3_2 {
        width: calc(25px * 3);
        height: 25px;
    }

    .ship_2_1, .ship_2_2, .ship_2_3 {
        width: calc(25px * 2);
        height: 25px;
    }

    .ship_1_1, .ship_1_2 {
        width: 25px;
        height: 25px;
    }

    .ship_5_1 { background-color: #ffff00; }
    .ship_4_1 { background-color: #ff5900; }
    .ship_3_1 { background-color: #008000; }
    .ship_3_2 { background-color: #0000ff; }
    .ship_2_1 { background-color: #ffc0cb; }
    .ship_2_2 { background-color: #870887; }
    .ship_2_3 { background-color: #ffa500; }
    .ship_1_1 { background-color: #9cf24b; }
    .ship_1_2 { background-color: #6bd7e8; }


}


.btns-container {
    margin-top: 2em;

    .flip-btn,
    .start-btn {
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 700;
        letter-spacing: 1px;
        color: var(--white-color);
        border: none;
        border-radius: 5px;
        background-color: var(--btn-bg-color);
        padding: .5em 1em;
    }

    .flip-btn {
        margin-right: 1em;
    }
    
    .flip-btn:hover, 
    .flip-btn:focus,
    .start-btn:hover,
    .start-btn:focus {
        cursor: pointer;
        background-color: var(--btn-hover-color);
    }
}