.ship-box {
  background-color: coral;
  position: relative;
  height: 30px;
  z-index: 100;
  margin: 1px;
}

.ship-drop-wrapper {
  position: absolute;
  top: 0;
}

.ship-box-cell {
  border: 1px dotted;
  width: 30px;
  height: 30px;
  display: inline-block;
}
