<div
  id="{{ name }}"
  class="ship-box"
  [ngStyle]="{
    'width': (rotate === true) ? '30px' : (30 * size + 'px'),
    'height': (rotate === true) ? (30 * size + 'px') : '30px'
  }"
>
  <div class="ship-draggable-wrapper">
    <div
      *ngFor="let i of [0, 1, 2, 3, 4].slice(0, size)"
      class="ship-box-cell"
      [ngStyle]="{
        'transform': (rotate === true) ? 'rotate(90deg)' : 'none',
        'display': (rotate === true) ? 'block' : 'inline-block'
      }"
    ></div>
  </div>
</div>



<!-- 'display': (rotate === true) ? 'block' : 'inline-block' -->
