.board-info {
  width: 90%;
  max-width: 1000px;
  margin: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .info-instructions {
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em 2em;
    margin-bottom: 1.5em;
    border-radius: 10px;

    h4 {
      align-self: center;
      border-bottom: 1px solid var(--white-color);
      padding-bottom: 0.2em;
      margin-bottom: 0.5em;
    }

    p {
      font-size: 0.9em;
    }
  }

  .info-player {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .player {
      font-size: 1.5em;
      letter-spacing: 1px;

      span {
        color: var(--btn-bg-color);
        text-shadow: 1px 1px 5px black;
        text-transform: capitalize;
      }
    }
  }
}

.confirm-btn {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  background-color: var(--btn-bg-color);
  padding: 0.5em 1em;
  margin-left: 2em;
}

.confirm-btn:hover,
.confirm-btn:focus {
  cursor: pointer;
  background-color: var(--btn-hover-color);
}
