// GENERAL CSS RESET

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1em;     
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// GLOBAL VARIABLES

:root {
  --font-title: "Aboreto", sans-serif;
  --font-paragraph: "Karla", sans-serif;
  --font-log: "Chivo Mono", sans-serif;

  --white-color: whitesmoke;
  --black-color: #474040;
  --highlight-color: #09a13e;
  --link-color: #090993;

  --board-bg-color: #0077b6;
  --board-bg-transparent-color: rgba(0, 162, 255, 0.3);
  --board-line-color: #0096c7;

  --btn-bg-color: #51ba76;
  --btn-hover-color: #24af55;
}

// GENERAL STYLES

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./assets/images/ships-bg.jpeg);
  background-repeat: repeat;
  background-position-x: center;
  min-height: 100vh;
  padding: 0 0 4em 0;
  font-family: var(--font-paragraph);
  font-size: 1em;
}

@media (max-width: 768px) {
  body {
    font-size: 0.9em;
  }
}
