// READY SCREEN

.ready-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  .title {
    margin-top: -1em;
    font-family: var(--font-paragraph);
    font-size: 2em;
    color: var(--white-color);
  }

  .is-ready-btn {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    background-color: var(--btn-bg-color);
    padding: 0.5em 1em;
    margin-top: 1.5em;
    transition: 250ms ease-in-out;
  }

  .is-ready-btn:hover,
  .is-ready-btn:focus {
    transform: scale(1.2);
    cursor: pointer;
    background-color: var(--btn-hover-color);
  }
}

.player-name {
  color: var(--btn-bg-color);
  text-shadow: 1px 1px 5px black;
  text-transform: capitalize;
}

// GAME SCREEN

.general-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  padding-bottom: 4em;

  h2 {
    font-family: var(--font-log);
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 2em 0 1em 0;
  }

  .player-info {
    h4 {
      font-size: 1.4em;
      margin-bottom: 1.5em;
    }
  }
}

#boards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-family: var(--font-paragraph);
  }
}

.userBoard,
.shotBoard {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 162, 255, 0.3);
  margin: 0 1.5em 1em 1.5em;
}

.userRow,
.shotRow {
  display: inline-block;
}

.userCell,
.shotCell {
  border: 1px var(--board-line-color) solid;
}

// LARGE CELLS

.cell-large-water {
  width: 30px;
  height: 30px;
}
.cell-large-water-shooted {
  width: 30px;
  height: 30px;
}
.cell-large-water-shooted::before {
  content: 'X';
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell-large-ship {
  width: 30px;
  height: 30px;
  border: 1px dotted;
  background-color: #5dc1e2;
}
.cell-large-ship-shooted {
  width: 30px;
  height: 30px;
  border: 1px dotted;
  background-color: #5dc1e2;
}
.cell-large-ship-shooted::before {
  content: 'X';
  color: red;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell-large-enemy-ship-shooted {
  width: 30px;
  height: 30px;
}
.cell-large-enemy-ship-shooted::before {
  content: 'X';
  color: red;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// MEDIUM CELLS

.cell-medium-water {
  width: 25px;
  height: 25px;
}
.cell-medium-water-shooted {
  width: 25px;
  height: 25px;
}
.cell-medium-water-shooted::before {
  content: 'X';
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell-medium-ship {
  width: 25px;
  height: 25px;
  border: 1px dotted;
  background-color: #5dc1e2;
}
.cell-medium-ship-shooted {
  width: 25px;
  height: 25px;
  border: 1px dotted;
  background-color: #5dc1e2;
}
.cell-medium-ship-shooted::before {
  content: 'X';
  color: red;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell-medium-enemy-ship-shooted {
  width: 25px;
  height: 25px;
}
.cell-medium-enemy-ship-shooted::before {
  content: 'X';
  color: red;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// SMALL CELLS

.cell-small-water {
  width: 20px;
  height: 20px;
}
.cell-small-water-shooted {
  width: 20px;
  height: 20px;
}
.cell-small-water-shooted::before {
  content: 'X';
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell-small-ship {
  width: 20px;
  height: 20px;
  border: 1px dotted;
  background-color: #5dc1e2;
}
.cell-small-ship-shooted {
  width: 20px;
  height: 20px;
  border: 1px dotted;
  background-color: #5dc1e2;
}
.cell-small-ship-shooted::before {
  content: 'X';
  color: red;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell-small-enemy-ship-shooted {
  width: 20px;
  height: 20px;
}
.cell-small-enemy-ship-shooted::before {
  content: 'X';
  color: red;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-player-container {
  .next-player-btn {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    background-color: var(--btn-bg-color);
    padding: 0.5em 1em;
    margin-top: 1.5em;
  }

  .next-player-btn:disabled,
  .next-player-btn:disabled:hover {
    background-color: rgba(128, 128, 128, .8);
    color: rgb(222, 222, 222);
    cursor: default;
  }

  .next-player-btn:hover,
  .next-player-btn:focus {
    cursor: pointer;
    background-color: var(--btn-hover-color);
  }
}

.game-info {
  width: 1200px;
  margin-top: 3em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

// LEADERBOARD

.leaderboard {
  margin-right: 5em;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em 2em;
  border-radius: 10px;
  font-family: var(--font-log);
  font-size: 1.1em;

  h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    letter-spacing: 2px;
    color: var(--btn-bg-color);
  }

  .leaderboard-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .position {
      width: 30px;
    }

    .name {
      width: 190px;
      text-transform: capitalize;
    }

    .points {
      width: 50px;
      text-align: right;
      color: coral;
    }
  }
}

// LOGS 

.logs-container {
  width: 100%;
  height: 300px;
  padding: 1em 1em 0.5em 1em;
  overflow-y: scroll;
  background-color: rgba(42, 41, 41, 0.6);
  padding: 1em 2em;
  border-radius: 10px;

  .new-log {
    font-family: var(--font-paragraph);
    margin-bottom: 0.5em;
    width: 795px;
    color: var(--white-color);

    span {
      color: var(--board-line-color);
      margin-right: 0.3em;
    }
  }
}

// FINAL LEADERBOARD SCREEN

// .final-leaderboard-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   margin-top: 10em;

//   .final-leaderboard {
//     max-width: 800px;
//     background-color: rgba(0, 0, 0, 0.6);
//     padding: 1em 2em;
//     border-radius: 10px;
//     font-family: var(--font-log);
//     font-size: 1.3em;
//     color: var(--white-color);

//     h4 {
//       text-align: center;
//       text-transform: uppercase;
//       font-size: 1.5em;
//       margin-bottom: 0.5em;
//       letter-spacing: 2px;
//       color: var(--btn-bg-color);
//     }

//     .final-leaderboard-content {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;

//       .position {
//         width: 30px;
//         color: lightblue;
//       }

//       .name {
//         width: 400px;
//         text-transform: capitalize;
//       }

//       .team {
//         width: 100px;
//         text-align: left;
//         color: lightblue;
//       }

//       .points {
//         width: 100px;
//         text-align: right;
//         color: coral;
//       }
//     }
//   }

//   .restart-btn {
//     text-transform: uppercase;
//     font-size: 1.2em;
//     font-weight: 700;
//     letter-spacing: 1px;
//     color: var(--white-color);
//     border: none;
//     border-radius: 5px;
//     background-color: var(--btn-bg-color);
//     padding: 0.5em 1em;
//     margin-top: 1.5em;
//   }

//   .restart-btn:hover,
//   .restart-btn:focus {
//     cursor: pointer;
//     background-color: var(--btn-hover-color);
//   }
// }

@media(max-width: 1240px) {
  .game-info {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .leaderboard {
      margin: 0;
    }

    .logs-container {
      max-width: 900px;
      height: 250px;
      margin-bottom: 2em;
    
      .new-log {
        max-width: 850px;
      }
    }
  }
}
