.ready-container {
  width: 100%;
  height: 90vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  h2 {
    font-family: var(--font-paragraph);
    font-size: 2em;
    color: var(--white-color);
  }

  .is-ready-btn {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    background-color: var(--btn-bg-color);
    padding: 0.5em 1em;
    margin-top: 1.5em;
    transition: 250ms ease-in-out;
  }

  .is-ready-btn:hover,
  .is-ready-btn:focus {
    transform: scale(1.2);
    cursor: pointer;
    background-color: var(--btn-hover-color);
  }
}

.player-name {
  color: var(--btn-bg-color);
  text-shadow: 1px 1px 5px black;
  text-transform: capitalize;
}
