.final-leaderboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10em;

  .final-leaderboard {
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em 2em;
    border-radius: 10px;
    font-family: var(--font-log);
    font-size: 1.3em;
    color: var(--white-color);

    h4 {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.5em;
      margin-bottom: 0.5em;
      letter-spacing: 2px;
      color: var(--btn-bg-color);
    }

    .final-leaderboard-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .position {
        width: 30px;
        color: lightblue;
      }

      .name {
        width: 400px;
        text-transform: capitalize;
      }

      .team {
        width: 100px;
        text-align: left;
        color: lightblue;
      }

      .points {
        width: 100px;
        text-align: right;
        color: coral;
      }
    }
  }

  .restart-btn {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    background-color: var(--btn-bg-color);
    padding: 0.5em 1em;
    margin-top: 1.5em;
  }

  .restart-btn:hover,
  .restart-btn:focus {
    cursor: pointer;
    background-color: var(--btn-hover-color);
  }
}
